body {
    text-align: center;
    background-color: #FFFAF0;
}

h1 {
	font-family: 'Coda Caption', sans-serif;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: -4px;
	font-size: 120px;
	font-weight: 900;
}

h2 {
    font-family: 'Coda Caption', sans-serif;
	text-transform: uppercase;
	text-align: left;
	line-height: 0.9;
	letter-spacing: -4px;
    font-size: 130px;
    font-weight: 900;
}

h2:first-of-type {

}

p.date {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	text-align: right;
	line-height: 1.1;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 800;
}

p.diaries {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	text-align: right;
	line-height: 1.1;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 800;

	position: absolute;
	top: 460px;
	left: 400px;
}

p.author {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	text-align: right;
	line-height: 1;
	letter-spacing: 3px;
	font-size: 18px;
	font-weight: 800;

    position: absolute;
	top: 300px;
	left: 400px;
}

p.smallprint {
	font-family: 'Teko', sans-serif;
	text-align: right;
	line-height: 1;
	letter-spacing: 2px;
	font-size: 10px;
	font-weight: 800;

    position: absolute;
	top: 520px;
	left: 390px;
}

p.translator {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	text-align: right;
	line-height: 1;
	letter-spacing: 3px;
	font-size: 18px;
	font-weight: 800;

    position: absolute;
	top: 560px;
	left: 370px;
}

.container {
	margin: 30px 300px 50px 300px;
}

.landing-wrapper {
	height: 100%;
}

img.portrait {
	float: left;
	height: 160px;
        width: 240px;
}
	

